:root {
  --clr: rgb(228, 228, 225);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--clr);
  margin-top: 6px;
}

body {
  font-size: 1.15rem;
  margin: 10px 5px;
  background-image: linear-gradient(135deg, rgb(38, 44, 63), rgb(53, 42, 42));
  height: 100vh;
}
